<header>
    
    <nav class="{% if app.user %}primaryCo{% else %}primary{% endif %}">

        <div>
            <div id="menuBurger" class="{% if app.user %}primaryICoHover{% else %}primaryIHover{% endif %}">
                <span class="{% if app.user %}primaryICo{% else %}primaryI{% endif %}"></span>
                <span class="{% if app.user %}primaryICo{% else %}primaryI{% endif %}"></span>
                <span class="{% if app.user %}primaryICo{% else %}primaryI{% endif %}"></span>
            </div>

            <a href="{{ path('homePage') }}">
                <img src="
                    {% if app.user %}
                        {{ asset('assets/img/logo_mtb_connect.png') }}
                    {% else %}
                        {{ asset('assets/img/logo_mtb.png') }}
                    {% endif %}
                " alt="logo MyTube">
            </a>
        </div>


        {% if app.user %}
            <!-- <a href="{{ path('app_logout') }}">Se déconnecter</a> -->
            <div class="logoUser">
                <img src="{{ asset('assets/img/account.png') }}" alt="logo de l'utilisateur">
            </div>

        {% else %}
            {# <a href="{{ path('app_register') }}">Créer un compte</a> #}
            <a href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}

    
    </nav>
</header>